root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

# noinspection EditorConfigKeyCorrectness
[*.cs]

# Стандартные настройки C#
csharp_new_line_before_open_brace = all

csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# wrap over chop, long arguments 
resharper_csharp_wrap_arguments_style = wrap_if_long
resharper_csharp_max_invocation_arguments_on_line = 10
resharper_csharp_keep_user_linebreaks = false
dotnet_diagnostic.SA1116.severity = none

# using block
dotnet_diagnostic.SA1200.severity = none # move usings inside namespace
dotnet_diagnostic.SA1633.severity = none # obligatory file header
dotnet_diagnostic.SA1300.severity = none # _Project. namespace to be changed

# Documentation on Enum, Enum elements
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1602.severity = none
resharper_csharp_place_simple_enum_on_single_line = false
resharper_csharp_keep_existing_enum_arrangement = false
resharper_csharp_max_enum_members_on_line = 1k

# fields, properties, methods 
dotnet_diagnostic.SA1309.severity = none
